apparmor==4.1.7
attrs==26.1.0
autocommand==2.2.2
azote==1.16.0
btrfsutil==7.0
caelestia==1.0.8
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
dasbus==1.7
dbus-python==1.4.0
docopt==0.6.2
docutils==0.22.4
filelock==3.29.0
geographiclib==2.1
geopy==2.4.1
gps==3.27.5
greenlet==3.5.1
gufw==26.4.0
i3ipc==2.2.1
idna==3.18
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
legacy-cgi==2.6.4
Levenshtein==0.27.3
LibAppArmor==4.1.7
Mako==1.3.11.dev0
Markdown==3.10.2
markdown2==2.5.5
MarkupSafe==3.0.3
materialyoucolor==3.0.2
meson==1.11.1
more-itertools==11.1.0
msgpack==1.1.2
netifaces==0.11.0
nftables==0.1
nwg-clipman==0.2.8
nwg-displays==0.4.3
nwg-hello==0.4.5
nwg-icon-picker==0.1.1
nwg-panel==0.10.15
nwg-readme-browser==0.1.7
nwg-shell==0.5.50
nwg-shell-config==0.5.65
packaging==26.2
perf==0.1
pillow==12.2.0
pkg_resources==81.0.0
platformdirs==4.10.0
psutil==7.2.2
pulsemixer==1.5.1
pwquality==1.4.5
pybind11==3.0.4
pycairo==1.29.0
pycparser==3.0
Pygments==2.20.0
PyGObject==3.56.3
pyinotify==0.9.6
pynvim==0.6.0
python-xlib==0.33
pywal==3.3.0
pyxdg==0.28
RapidFuzz==3.14.5
Reflector==2023.6.28.0.36.1
requests==2.34.2
Send2Trash==1.8.3
setproctitle==1.3.7
setuptools==82.0.1
six==1.17.0
smbus==1.1
TBB @ file:///build/onetbb/src/build/python/python_build
tqdm==4.68.1
trash-cli==0.24.5.26
typing_extensions==4.15.0
ueberzug==18.3.1
ufw==0.36.2
ulauncher==5.15.15
urllib3==2.7.0
VapourSynth==76
websocket-client==1.9.0
wheel==0.47.0
